.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.input {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 5px;

  &:hover {
    border: 2px solid blue;
  }
}

.error {
  color: red;
  font-weight: 600;
}
